*{ 
box-sizing: border-box;
margin: 0;
padding: 0;}

body{ 
    align-items: center;
    align-content: center;
    font-family:'Roboto'; 
    justify-content: center;
    background-color: purple;
    }
  
.text-primary{
    color: royalblue;
}
  
h2{
    color: seashell;
}

#box{
 
    background:skyblue rgba(0,0,0,0.55);
}
#navbar {
      background:#e3e7f1; 
      border-bottom: 5px solid black;
      color:black;
      display: flex;
      padding: 0;
      font-family: 'Anton';
      justify-content: space-between;
      position: sticky;
      top: 0;
      left: 0;
      width: 100%;
      }  

    #navbar ul{
        align-items: center;
        display: flex;
        font-size: 20px;
        list-style: none;
}
 
 #navbar ul li a{ 
    color: black;
    display: flex;
    padding: 10px;
    margin: auto;
    text-decoration: none;
} 

#navbar ul li a:hover {
        background-color: royalblue;
      }
      


#main-content{
    background: purple url(./background.jpg) no-repeat center center/cover;
    height:100%;
    color: seashell;
}
#main-content, #info{
    align-items: center;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    text-align: center;
    
    height: 100vh;
}
img{
    box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.75);
}
.title{
background: rgba(0,0,0,0.55);
color: #e3e7f1;
font-size: 28px;
line-height: 1.5;

margin-top: 10px;
}

#description{ 
    background: rgba(0,0,0,0.45);
    border-bottom: 20px;
    color: #e3e7f1;
    font-size: 18px;

}
#portfolio{
    background: #e3e7f1;
    height: max-content;

}

.btn{
    background: #e3e7f1;
    border:none;
    border-radius: 5px;
    color: black;
    display: inline-block;
    padding: 10px 10px;
    text-decoration: none;
}

#contact{
    background: purple url(./background2.jpg) no-repeat center center/cover;
    height: 100vh;
}

/* Footer */
footer {
    background-color:#27496d;
    bottom: 0;
    border-top: 5px solid black;
    color: seashell;
    left: 0;
    padding: 5px;
    text-align: center;
    width: 100%;
    } 